@media screen and (max-width: 700px){
    .nav-toggle {
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: 1.2rem;
        right: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
    }

    .nav-toggle-bar, .nav-toggle-bar::before, .nav-toggle-bar::after {
        content: "";
        background-color: #000;
        width: 100%;
        height: 0.3rem;
        position: absolute;
        left: 0;
        transition: all .4s ease-in-out;
    }

    .nav-toggle-bar::before {
        top: -1rem;
    }

    .nav-toggle-bar::after {
        top: 1rem;
    }

    .menu {
        background-color: #FFF;
        position: fixed;
        width: 37.5rem;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transform: translateX(100vw);
        transition: all .6s;
        z-index: 1;
    }

    .menu-open .menu {
        transform: translateX(0);
    }

    .menu-open, .menu-open body {
        overflow: hidden;
    }

    .menu-open .nav-toggle-bar {
        transform: rotate(135deg);
    }

    .menu-open .nav-toggle-bar::before, .menu-open .nav-toggle-bar::after {
        transform: rotate(90deg);
        top: 0;
    }

    .menu li {
        opacity: 0;
        display: block;
        transition: all .5s ease;
        font-size: 2.1rem;
        text-align: center;
        padding: 0 0 2rem;
        line-height: 6rem;
    }

    .menu li:last-of-type:after {
        content: none;
    }

    .menu ul {
        margin-top: 9rem;
        margin-bottom: 7rem;
    }

    .menu img {
        height: auto;
        display: block;
        position: absolute;
        transform: translate(47%,210%);
    }

    .menu-open .menu li {
        opacity: 1;
    }

    .menu-open .menu li:nth-of-type(n+1) {
        transition-delay: .3s;
    }

    .menu-open .menu li:nth-of-type(n+2) {
        transition-delay: .35s;
    }

    .menu-open .menu li:nth-of-type(n+3) {
        transition-delay: .4s;
    }

    .menu-open .menu li:nth-of-type(n+4) {
        transition-delay: .45s;
    }

    .menu-open .menu li:nth-of-type(n+5) {
        transition-delay: .5s;
    }
}
